@layout("/common/_container.html"){
<div class="row" xmlns="">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>代码生成</h5>
            </div>
            <div class="ibox-content" style="padding-bottom: 50px;">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="form-horizontal" id="generate">
                            <div class="row" style="margin-bottom: 10px">
                                <div class="col-lg-12">
                                    <div class="col-sm-9 col-xs-12 text-right">
                                        <div class="fixed-table-toolbar">
                                            <div class="columns columns-right btn-group">
                                                <div class="btn-group" id="reset">
                                                    <span class="btn  btn-outline btn-default">
                                                        <i class="glyphicon glyphicon-repeat"></i>
                                                    </span>
                                                </div>
                                                <div class="keep-open btn-group">
                                                    <button data-toggle="dropdown" class="btn dropdown-toggle btn-outline btn-default">
                                                        数据表 <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu mydropdownmenu" id="tableList" data-bind="foreach: tables">
                                                        @for(table in tables!){
                                                        <li class="dropdown-item">
                                                            <a href="javascript:void(0)" class="list-group-item" tableName="${table.tableName}"
                                                               onclick="Code.selectTable('${table.tableName}')">${table.tableName}-${table.tableComment}</a>
                                                        </li>
                                                        @}
                                                    </div>
                                                </div>
                                                <div class="keep-open btn-group">
                                                    <button type="button" aria-label="columns"
                                                            class="btn btn-default btn-outline dropdown-toggle"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                        模板 <span class="caret"></span>
                                                    </button>
                                                    <div class="dropdown-menu list-group  mydropdownmenu" role="menu"  id="templateList">
                                                        @for(template in templates!){
                                                        <li role="menuitem">
                                                            <a href="javascript:void(0)" class="list-group-item" key="${template.key}" onclick="Code.selectTemplate('${template.key}')">${template.desc}</a>
                                                        </li>
                                                        @}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="projectPath" name="项目路径" value="${params.projectPath}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="projectPackage" name="项目的包" value="${params.projectPackage}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="corePackage" name="核心包" value="${params.corePackage}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="author" name="作者" value="${params.author!}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="bizName" name="业务名称" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="moduleName" name="模块名称" value="${params.moduleName}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="parentMenuName" name="父级菜单名称" underline="false"
                                    value="${params.parentMenuName}"
                                    hidden="pid" readonly="readonly"
                                    clickFun="Code.showMenuSelectTree(); return false;"
                                    style="background-color: #ffffff !important;"
                                    selectFlag="true" selectId="pcodeTreeDiv" selectTreeId="pcodeTree" selectStyle=""/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="tableName" name="表名称" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="ignoreTabelPrefix" name="表前缀" value="${params.ignoreTabelPrefix}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <#codeInput id="className" name="类名" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9 text-right">
                                    <button id="genBtn" type="button" class="btn btn-primary mr10"
                                            onclick="Code.generate()">
                                        <span style="padding: 5px 20px;">生成</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/js/common/select-list-object.js"></script>
<script src="${ctxPath}/static/modular/code/gen.js"></script>
<script>
    // 阻止下拉菜单点击消失
    $("#templateList").click(function (e) {
        e.stopPropagation();
    })

    $("#reset").click(function () {
        $("#bizName").val("");
        $("#tableName").val("");
        $("#className").val("");
    })
</script>
@}

