@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="" value="${item.id}" underline="true"/>
                            <#input id="studentId" name="若识别出是谁 则填学生id 若未识别出 则不填" value="${item.studentId}" underline="true"/>
                            <#input id="file" name="照片物理地址" value="${item.file}" underline="true"/>
                            <#input id="link" name="照片显示地址" value="${item.link}" />
                </div>

                <div class="col-sm-6">
                            <#input id="feature" name="特征向量" value="${item.feature}" underline="true"/>
                            <#input id="classroomId" name="教室编号" value="${item.classroomId}" underline="true"/>
                            <#input id="createTime" name="识别时间" value="${item.createTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="FaceInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="FaceInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/face/face/face_info.js"></script>
@}
